<%= render 'application/flash_messeages', object: @post %>
<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :console %><br>
    <%= f.select(:console, options_for_select(Post::CONSOLE_LIST), :include_blank => "Please choose one" )%>
  </div>
  <div class="field">
    <%= f.file_field :post_img %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "required" %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, :placeholder => "required" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image, :placeholder => "required"  %>
  </div>  
  <div class="field">
    <%= f.label :prefered %><br>
    <%= f.text_field :prefered, :placeholder => "Optinal" %>
  </div>
  <div class="field">
    <%= f.label :further_note %><br>
    <%= f.text_field :note, :placeholder => "Optinal" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%=link_to "create new user", new_user_session_path%>