<%= render 'application/flash_messeages' %>
<h1>Listing Posts</h1>
<h3><%= params[:console] %></h3>
<% if @posts.count == 0%>
  <h3>There is no posts currently in this category</h3>
<%end%>

<table>
  <thead>
    <tr>
      <th>Console</th>
      <th>Name</th>
      <th>Category</th>
      <th>Prefered</th>
      <th>Image</th>
      <th>User</th>
      <th>Note</th>
      <th>Swaped</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.console %></td>
        <td><%= post.name %></td>
        <td><%= post.category %></td>
        <td><%= post.prefered %></td>
        <td><%= image_tag post.post_img.url(:post_index) %></td>
        <td><%= post.user_id %></td>
        <td><%= post.note %></td>
        <td><%= post.swaped %></td>
        <td><%= link_to 'Show', post %></td>
        <% if post.check_current_user(current_user,post) %>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
