<!DOCTYPE html>
<html>
<head>
  <title>Gswap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'header' %>
  <div class="col-md-3">
  	<h3>Treanding</h3>
      <ul class="nav nav-trending">
      
      </ul>
  	<h3>News</h3>
      <ul class="nav nav-trending">
      
      </ul>      
  </div>
	<div class="col-md-9">
		<div class="row">
			<%= yield %>
		</div>
	</div>
	</div>
	<%= render 'footer' %>
</body>
</html>
